.Prefooter{
    margin: 5vmax 0 0 0;
    background-color: white;
    padding: 1vmax;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.Prefooter > div{
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;

}
.Prefooter>div>p:last-child{
color: #b0b0b0;
}

.Prefooter > div svg{
    fill:#b0b0b0;
    transform: scale(2) translateY(-0.2vmax);
    margin: 2vmax;
}




.Prefooter>div>div p:last-child{
    color: #b0b0b0;
    margin-top: -1rem;
}

.Prefooter>div:hover p:last-child{

    color: #616161;
    
}

.Prefooter>div:hover svg{
    fill:#616161;
}


/* PREFOOTER-2 */

.Prefooter2{
    display: grid;
    height: 150px;
    grid-template-columns: repeat(4,1fr);

}

.Prefooter2>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-left: 2vw;


}

.Prefooter2>div>p{
    color: rgba(0,0,0,0.842);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vmax;
    width: 18vmax;
    margin:0% ;
}
.Prefooter2>div>span{
    color: rgba(51, 51, 51, 0.842);
}

.Prefooter2>div>div> input{
    border: none;
    outline: none;
    padding: 2px 40px 2px 17px;
    background-color: white;
    font-size: 1.5vmax;
    width:20vmax ;
}

.Prefooter2>div>div> button{
    outline: none;
    border: none;
    padding: 0.5vmax 0.75vmax;
    background-color: white;
}

.Prefooter2>div>div{
    border: 1px solid rgba(126, 126, 126, 0.493);
}

.Prefooter2>div:nth-child(3){
    justify-content: center;
    align-items: initial;
    margin: auto;
    padding-left: 6vw;
}

.Prefooter2>div:nth-child(4) {
    flex-direction: row;
    padding-right: 1vw;
}

.Prefooter2>div:nth-child(4)>svg {
    cursor: pointer;
    margin: 1vmax;
    fill:rgba(138, 138, 138, 0.805);
    transform: scale(1.1);
}

.Prefooter2>div:nth-child(4)>svg:hover {
 fill:rgb(94, 94, 94);
}

.Prefooter2>div:nth-child(1) {
    align-items:flex-start;
}